body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

button {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.buttonInGroup {
  max-width: 120px;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.homeButton {
  background-color: green;
}

.deleteButton {
  background-color: #f44336;
}

.logoutButton {
  background-color: grey;
}

.buttonGroup {
  padding: 10px;
}
