<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>Settings | Map</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/favicon/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/settings/style.css">
    
  </head>
  <body>

    <main>
        {% if user.is_authenticated %}
            <h1>Settings</h1>
            <div class="buttonGroup">
              <a class="homeButton buttonInGroup" href="{% url 'index' %}">Home</a>
              <a class="logoutButton buttonInGroup" href="{% url 'logout' %}">Logout</a>
              <a class="deleteButton buttonInGroup" href="{% url 'del_user' %}">Delete User</a>
            </div>
            
            <h3>Username</h3>
            <p>{{request.user.username}}</p>

            <h3>Public</h3>
            <form action="{% url 'set_public' %}" method="post">
              {% csrf_token %}
              <label for="publicMap">Allow public viewing of map</label>
              <input type="checkbox" id="setPublic" name="setPublic" onChange="this.form.submit()" {% if public %}checked{% endif %}>
            </form>
            

        {% else %}
        {% endif %}
    </main>

  </body>
</html>