.circle-progress-value {
  stroke-width: 6px;
  stroke: #dfc5c4;
  stroke-linecap: round;
}
.circle-progress-circle {
  stroke-width: 2px;
}

.statsCard {
  flex-direction: row;
  display: flex;
  flex-flow: wrap;
}

.individualStat {
  align-self: center;
  text-align: center;
  padding: 2px;
}

.collapsible {
  display: none;
}
