html,
body {
  margin: 0;
}
#map {
  width: auto;
  height: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: white;
}

.button {
  border-radius: 10px;
  margin-top: 5px;
  width: 150px;
  padding: 8px;
  text-align: center;
  display: inline-block;
}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #2c2e2f;
  transition: 0.3s;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
  background-color: rgb(64, 64, 64);
  padding: 10px;
  border-radius: 20px;
  border-width: 0px;
  width: 100%;
  color: white;
  margin: 2.5px;
  cursor: pointer;
}

#loginButtons {
  width: 75px;
  padding: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: rgb(64, 64, 64);
  border-radius: 20px;
  border-width: 0px;
  color: white;
  margin: 2.5px;
  cursor: pointer;
}

#floatingMenu {
  position: absolute;
  border-radius: 20px;
  padding: 10px;
  top: 10px;
  z-index: 400;
  height: auto;
  width: 80%;
  margin-left: 10%;
  background-color: white;
}
