<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    {% if not public %}
    <h3>Share link will not work!</h3>
    <h4>You must first make your map public in settings.</h4>
    <a class="setting-item" style="color: black;" href="{% url 'settings' %}"><i class="fa-solid fa-user-gear "></i></a>
    {% else %}
    <h2>Share map</h2>
    <div class="row">
      <div class="text-column">
        <p class="modal-text">https://map.benarmstead.co.uk{% if request.path == "/" %}{{ request.path }}{{ user.username }}{% else %}{{ request.path }}{% endif %}</p>
      </div>
      <div class="copy-column">
        <a class="copy" onclick='navigator.clipboard.writeText("https://map.benarmstead.co.uk{% if request.path == "/" %}{{ request.path }}{{ user.username }}{% else %}{{ request.path }}{% endif %}");copiedMessage("Copied URL to clipboard!")'><i class="fa-solid fa-copy"></i></a>
      </div>
    </div>
    <p id="copiedMessage" style="margin-left: 5px;"></p>
    {% endif %}
  </div>
</div>

<div class="cardContainer settings">
  <a class="setting-item" style="color: black;" href="{% url 'settings' %}"><i class="fa-solid fa-user-gear "></i></a>
  <br><br>
  <a class="setting-item" id="shareBtn"><i class="fa-solid fa-share-nodes "></i></a>
  <br><br>
  <a class="setting-item" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket "></i></a>
  <br><br>
  <a id="location" class="setting-item" onclick="pointsToggle()"><i class="fa-solid fa-location-dot"></i></a>
  <br>
</div>