<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Share map</h2>
    <p class="modal-text">
        https://map.benarmstead.co.uk{{ request.path }}{{ user.username }}
      <span class="copy">
        <a onclick='navigator.clipboard.writeText("https://map.benarmstead.co.uk{{ request.path }}{{ user.username }}");'><i class="fa fa-clone icon"></i></a>
      </span>
    </p>
  </div>
</div>

<div class="cardContainer settings" style="margin-top: 75px;">
  <a><i class="fa fa-gear icon"></i></a>
</div>

<div class="cardContainer settings" style="margin-top: 125px;">
  <a id="shareBtn"><i class="fa fa-share-alt icon"></i></a>
</div>