<div class="cardContainer">
    <div class="statsCard">

      <div class="individualStat">
        <p>World</p>
        <div class="world"></div>
      </div>
      <div class="individualStat collapsible">
        <p>Europe</p>
        <div class="europe"></div>
      </div>
      <div class="individualStat collapsible">
        <p>Asia</p>
        <div class="asia"></div>
      </div>
      <div class="individualStat collapsible">
        <p>North America</p>
        <div class="northAmerica"></div>
      </div>
      <div class="individualStat collapsible">
        <p>South America</p>
        <div class="southAmerica"></div>
      </div>
      <div class="individualStat collapsible">
        <p>Africa</p>
        <div class="africa"></div>
      </div>
      <div class="individualStat collapsible">
        <p>Oceania</p>
        <div class="oceania" id="oceania"></div>
      </div>
    </div>

    <button class="button" style="width: 100px;" type="button" onclick="hideOthers()">Toggle Stats</button>
  </div>